  <span class="container-narrow float-right" id="session_options">
    <span><%= link_to "Sign in", new_user_session_path, :class => 'btn btn-large btn-info' %></span>
    <span><%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-large btn-info' %></span>
  </span>
